.jumbotron {
	background-color: yellow;
	color: black;
	margin-top: 50px
           }
.banner {
	
	height: 150px;
    margin-top: 15px;
    margin-bottom: 15px;

}

 .btn-reserva {
 	
 	width: 100%;
 	margin-top: 10px;

 }     

 .btn-enviar {
 	background-color: #007BFF;
 	background-color: blue;
 	margin-bottom: 15px;

 } 

 .btn-oferta   {
 	background-color: #007BFF;
 	margin-bottom: 15px;

 } 

 .btn-colapse {
 	width: 100%;
 	margin-bottom: 10px;
 	margin-top: 10px;
 }        

footer{
	background-color: #343A40;
	color: white;
	padding: 20px;

  
}

.card-hotel{
	flex: 1 150px;
	padding: 5px 5px 5px 5px;
	margin-top: 5px;
	min-width: 250px;


}

.card-header{
	text-align: center;
}

.card-img{
	min-width: 100%;

}


.footer-adress-icon{
	padding-right: 10px
}

.card-img-overlay{
	color: white;

}
.tab-content{
	padding-top: 10px;
}



.tooltip.top .tooltip-arrow{
    bottom:0;
    left:50%;
    margin-left:-5px;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-top:5px solid #000
}

.carousel-caption{
	background-color: #343A40;
	opacity: 85%;

}

