<footer>
    <div class=row>    		
           <div class="col-md-4 d-flex flex-column">
            <a href="www.twitter.com">Twitter</a> <br>
            <a href="www.facebook.com">Facebook</a> <br>
            <a href="www.instagram.com">Instagram</a>
        </div>
        <div class="col-md-4 d-flex flex-column align-items-center">
            <address>
            <h3>Oficina Central </h3>
            <p><span class="oi oi-location footer-adress-icon"></span> Dirección: 505 Calle del Olmo </p>
            <p><span class="oi oi-phone footer-adress-icon"></span>Teléfono 506-555555</p>
            <p><span class="oi oi-inbox footer-adress-icon"></span> Apto Postal 40104</p>
            </address>
        </div>
        <div class="col-md-4 d-flex flex-column align-items-end">
            <a href="www.hoteles.com">Nosotros</a><br>
            <a href="www.hoteles.com">Terminos y Condiciones</a><br>
            <a href="www.hoteles.com">Contacto</a>
        </div>
     </div>

</footer> 